body {
    background-color: #fddde6; 
    font-family: Arial, sans-serif;
    color: deeppink; 
    margin: 20px;
    padding: 10px;
    border: 2px solid;
}

nav, header, main, footer {
    background-color: #f8a5c2; 
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: auto;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: deeppink;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
}
nav a:hover{
    color: white;
    background-color: magenta;
    border-radius: 4px;
}

h1 {
    color: #a83279; 
    text-align: center;
}

h1::after{
    content: " <3 ";
}

h2{
    color: #a83279;
    text-align:center;
}

h2::before{
    content: " :) ";
}

img{
    float: left;
    width: 150px;
    height: auto;
    margin: 10px;
    border: 2px solid;
    padding: 5px;
}
footer {
    text-align: center;
    padding: 10px;
    display: block;
}
